.cards__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    gap: 20px;
    font-size: 15px;
    opacity: 0.4;
}

.cards__delete {
    background: rgba(255, 0, 0, 0.218);
    padding: 3px 7px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
}

.cards__hide {
    padding: 3px 7px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    background: rgba(13, 182, 255, 0.218);
}

.cards__item:nth-child(2n) {
    background: rgba(128, 128, 128, 0.115);
}

.cards__add {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background: black;
    color: white;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    margin-top: -20px;
    border: solid 5px white;
    padding-top: 10px;
    cursor: pointer;
}

.cards__tools {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.cards__item_active {
    opacity: 1;
}