<div class="study">
    <div class="flip-card" [ngClass]="{'flip-card_active': flipActive}" [ngClass]="{'flip-card_hide': hideCard}">
        <div class="flip-card__inner">
            <div class="flip-card__front">
                {{ card.front }}
            </div>
            <div class="flip-card__back">
                {{ card.back }}
            </div>
            <div *ngIf="card.image_url != ''" class="flip-card__image">
                <img [src]="card.imageUrl" alt="">                
            </div>
        </div>
        
        <div class="flip-card__control">
            <div class="flip-card__control-item flip-card__control-item_success" (click)="changeCard()">
                ✔
            </div>
            <div class="flip-card__control-item flip-card__control-item_reverse" (click)="flipCard()">
                ↻
            </div>
            <div class="flip-card__control-item flip-card__control-item_fail" (click)="changeCard()">
                ✖
            </div>
        </div>
    </div>
</div>