<div class="study" *ngIf="card">
    <div class="flip-card" [ngClass]="{'flip-card_active': flipActive}" [ngClass]="{'flip-card_hide': hideCard}">
        <div class="flip-card__inner">
            <div class="flip-card__front">
                {{ isReverted ? card.front : card.back }}
            </div>
            <div class="flip-card__back">
                {{ isReverted ? card.back : card.front }}
            </div>
            <div *ngIf="card.image_url != ''" class="flip-card__image">
                <img [src]="card.imageUrl" alt="">                
            </div>
        </div>
        
        <div class="flip-card__control">
            <div class="flip-card__control-item flip-card__control-item_success" (click)="setSuccessCard()">
                ✔
            </div>
            <div class="flip-card__control-item flip-card__control-item_reverse" (click)="flipCard()">
                ↻
            </div>
            <div class="flip-card__control-item flip-card__control-item_fail" (click)="setFailedCard()">
                ✖
            </div>
        </div>
    </div>
    <div class="meta">
        <div class="meta__total">Total: {{ cards.length }}</div>
        <div class="meta__current">Progress: {{ current }}</div>
    </div>
</div>