.flip-card {
    height: 300px;
    perspective: 1000px;
}

.flip-card__inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.flip-card_active .flip-card__inner {
    transform: rotateY(180deg);
}

.flip-card_hide .flip-card__inner {
    opacity: 0;
    transition-duration: 0.3s;
}

.flip-card__front,
.flip-card__back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.flip-card__front {
    background-color: #3498db;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #fff;
}

.flip-card__back {
    background-color: #e74c3c;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #fff;
}

.flip-card__control {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    gap: 10px;
}

.flip-card__control-item {
    background: rgba(255, 255, 255, 0.319);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 24px;
}

.flip-card__control-item_success {
    color: green;
}

.flip-card__control-item_fail {
    color: red;
}

.flip-card__control-item_reverse{
    font-size: 28px;
    font-weight: 800;
    color: #000000ab;
}

.flip-card__image {
    width: 120px;
    position: absolute;
    transform: translate(-50%);
    left: 50%;
}

.flip-card__image img{
    width: 100%;
}

.meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px;
}